/* career-profile.html */
.additional-sub-title {
	font-family: 'Roboto', '맑은 고딕', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #35776d;
	margin: 0;
	cursor: pointer
}

.tag-con-animate {
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari and Chrome */
  -o-animation: fadein 1.5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pj-item {
	border: #4CAC9D 3px solid;
    border-radius: 5px;
    padding: 10px;
	transition: all .3s;
	// -webkit-transform: scaleX(.3);
 	//  transform: scaleX(.3);
}

.pj-item:hover{
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
	transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
}